#alex-ben {
    height: 614px;
    width: 365px;
}

#coderlog-logo {
    height: 80px;
}

#about-pt {
    padding-top: 10rem;
}

#contact-pt {
    padding-top: 12rem;
}

#blog-pt {
    padding-top: 7rem;
}

#blog-single-pt {
    padding-top: 12rem;
}

.category-link {
    color: #000!important;
    display: block!important;
    font-size: 0.9em!important;
    font-weight: 750!important;
    padding-left: 0px!important;
    margin-bottom: 0px!important;
    text-transform: none!important;
    letter-spacing: -0.5px!important;
}
